<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/main.css'%}">
    <title>Title</title>
</head>
<body>


<div class="row">
    <div class="col-lg-3 col-md-3 mt-4 ">
        <div class="border">
            <!--card-->
            <div class="card-header text-center">
                <h3 class="cardheader">Forget Password</h3>
            </div>
            {% if messages %}
            <div style="margin-top: -12px;">
                {% for message in messages %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                     {{ message }}
                     <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            </div>
            {% endif %}
            <div class="card-body">
                <form method="POST" action="/otp/">
                    {% csrf_token %}
                    <div class="form-group">

                        <label> OTP </label>
                        <input type="text" name="otp" id="" class="form-control mt-3" value="" required>
                    </div> <br>
                    
                    <div class="d-grid gap-2 col-4 mx-auto">
                        <button type="submit" class="btn btn-outline-primary ">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>


</body>
<script src="{% static 'bootstrap/bootstrap.min.js'%}"> </script>
<script src="{% static 'bootstrap/jquery.js'%}"> </script>
<script src="{% static 'bootstrap/popper.js'%}"> </script>
<script src="{% static 'myjs/main.js'%}"> </script>
</html>
